.card {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  justify-content: space-between;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
  gap: 18px;
  position: relative;
  cursor: pointer;

  .logoWrapper {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 4px;
    background-color: white;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    width: calc(100%);

    .title {
      font-size: 22px;
    }

    .organization {
      font-size: 16px;
      margin-bottom: 8px;
    }

    .date {
      font-size: 14px;
      margin-bottom: 0px;
    }

    .list {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s ease, opacity 0.2s ease;
      list-style-type: none;
      margin-top: 12px;
      opacity: 0;
    }

    .listActive {
      max-height: 500px;
      opacity: 1;
    }
  }

  .angleIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease;
  }

  .angleIcon.active {
    transform: translateY(-50%) rotate(180deg);
  }
}
