.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;

  ul {
    display: flex;
    gap: 48px;
    list-style: none;

    a {
      text-decoration: none;
      font-size: 20px;
      color: black;
      transition: all 0.1s ease;

      &:hover {
        border-bottom: 2px solid orange;
      }
    }
  }
}
