.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-top: 80px;

  .heading {
    font-size: 48px;

    span {
      color: orange;
    }
  }

  .bio {
    margin: 24px 0px 48px;
    font-size: 22px;
  }

  button {
    border: none;
    border-radius: 4px;
    outline: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s ease;

    a {
      text-decoration: none;
      color: black;
      display: inline-block;
      padding: 12px 8px 12px 12px;
      font-size: 18px;

      &::after {
        content: ": )";
        padding: 0px 8px;
        display: inline-block;
        transition: all 0.4s ease;
      }

      &:hover {
        background-color: rgba(255, 166, 0, 0.568);
      }

      &:hover::after {
        transform: scale(1.2);
      }
    }
  }

  .profileWrapper {
    border-radius: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .profileWrapper {
    width: 800px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 756px) {
  .heroSection {
    flex-direction: column-reverse;
    margin-top: 40px;

    .heading {
      font-size: 40px;
    }

    .profileWrapper {
      width: auto;
      height: 300px;
    }
  }
}
