.highlightSection {
  margin: 120px 0px;
  position: relative;

  .subHeading {
    font-size: 44px;
    text-align: center;
    margin-bottom: 48px;
  }

  .sidebar {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 72px;
    position: sticky;
    top: 60px;
    background-color: white;
    z-index: 25;
    padding: 24px 0px;

    button {
      width: 200px;
      border: none;
      border-radius: 4px;
      outline: 1px solid black;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.4s ease;
      display: flex;
      flex-direction: column;
      padding: 8px;
      font-size: 20px;

      &:hover {
        background-color: rgba(255, 166, 0, 0.568);
      }
    }

    button.active {
      background-color: rgba(255, 166, 0, 0.568);
    }
  }
}

@media screen and (max-width: 572px) {
  .highlightSection {
    .sidebar {
      gap: 8px;

      button {
        font-size: 18px;
      }
    }
  }
}
